name: E2E

permissions:
    contents: read

on: workflow_dispatch

jobs:
    test:
        runs-on: ubuntu-latest
        timeout-minutes: 15

        steps:
            - name: Git Checkout
              uses: actions/checkout@v5
            - name: Install Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x # latest

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
            - name: Install dependencies
              run: npm install
            - name: Install Playwright Browsers
              run: npx playwright install --with-deps
            - name: Run E2E Test
              run: npx playwright test
            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                name: playwright-report
                path: playwright-report/
                retention-days: 7
